:root {
    --backgroundColor: #fde7c6!important;
    --primaryColorOriginal: #235EA4!important;
  }

/*Hide FEatured Sponsors*/
.section.featured-sponsors {
    display: none !important;
}

.content {
    line-height: normal;
}

button.get-ticket-button{
    width: 280px !important;
}