:root {
    --backgroundColor: #fde7c6!important;
    --primaryColorOriginal: #F9A11B!important;
  }

/*Hide FEatured Sponsors*/
.section.featured-sponsors {
    display: none !important;
}

.content {
    line-height: normal;
}

button.get-ticket-button{
    width: 280px !important;
}

bt-payment div.input-field.full-width:nth-child(4) > label.field-label,
bt-payment div.input-field.full-width:nth-child(4) > div.input-box {
    display: none !important;
}

.checkout-button-container {
    width: 400px!important;
}


.ticket-description
{
    max-height: fit-content!important;
}

@media (max-width: 59.9375rem) {
    .banner-image {
         height:170px;
    }
}

.event-details {
    padding-top: 1.6rem!important;
}

.event-details .btn-wrapper {
    padding-top: 1.8rem!important;
}